<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Received</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            color: #fff;
            background-color: #0f3462;
            margin: 0;
            padding: 20px;
        }
        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 650px;
            margin: auto;
        }
        h1, h2 {
            color: #0f3462;
        }
        p {
            font-size: 15px;
            line-height: 1.6;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            color: #0f3462;
        }
        .footer a {
            color: #F3BA2F;
            text-decoration: none;
            font-weight: bold;
        }
        .logo {
            width: 100px;
            display: block;
            margin: 0 auto 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://i.ibb.co/7yHrDYZ/Picsart-24-07-04-16-42-30-780.png" alt="Company Logo" class="logo">
        <h1>Payment Received</h1>
        <p>Thank you for your payment, soon we will add to your account after verification <strong><%= username %></strong>. We have received your payment of $<%= amount %> on <%= date %>. Your payment reference number is <%= reference %>.</p>
        <div class="footer">
            <p>For assistance, contact us at: +255747437093</p>
            <p>Visit our website: <a href="http://www.trendifysmm.com">www.trendifysmm.com</a></p>
        </div>
    </div>
</body>
</html>
